.green, a .green {color:green;}
.red, a .red {color:red;}

.btnnok.active { background-color: red; border-color: red;}
.btnok.active {background-color: rgb(60, 255, 0); border-color: rgb(60, 255, 0);}