.green, a .green {color:green;}
.red, a .red {color:red;}

.btnnok.active { background-color: red!important; border-color: red!important;}
.btnok.active {background-color: rgb(60, 255, 0)!important; border-color: rgb(60, 255, 0)!important;}